<div class="row my-4 ">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 class="text-center">Edit Cliet</h1>
        <div *ngIf="apierror" class="alert alert-danger p-0 mt-1">
            <p class="m-0 p-1">{{apierror}}</p>
        </div>
        <form [formGroup]="editclientform" (ngSubmit)="editclient(editclientform)">
            <div class="my-2">
                <label for="name">Client Name</label>
                <input formControlName="name" type="text" id="name" name="name" class="form-control" maxlength="100">
                <div *ngIf="editclientform.get('name')?.touched && editclientform.get('name')?.errors" class="alert alert-danger p-0 mt-1">
                    <p class="m-0 p-1" *ngIf="editclientform.get('name')?.errors?.['maxlength']">Client Name must be less than 400 characters </p>
                    <p class="m-0 p-1" *ngIf="editclientform.get('name')?.errors?.['minlength']">Client Name must be more than 3 characters </p>
                </div>
            </div>
            <div class="my-2">
                <label for="phoneNumber">Phone Number</label>
                <input formControlName="phoneNumber" type="text" id="phoneNumber" name="phoneNumber" class="form-control" maxlength="11">
                <div *ngIf="editclientform.get('phoneNumber')?.touched && editclientform.get('phoneNumber')?.errors" class="alert alert-danger p-0 mt-1">
                    <p class="m-0 p-1" *ngIf="editclientform.get('phoneNumber')?.errors?.['maxlength']">Phone Number must be 11 characters </p>
                    <p class="m-0 p-1" *ngIf="editclientform.get('phoneNumber')?.errors?.['minlength']">Phone Number must be 11 characters </p>
                </div>
            </div>
            <div class="my-2">
                <label for="address">Address</label>
                <input formControlName="address" type="text" id="address" name="address" class="form-control" maxlength="300">
                <div *ngIf="editclientform.get('address')?.touched && editclientform.get('address')?.errors" class="alert alert-danger p-0 mt-1">
                    <p class="m-0 p-1" *ngIf="editclientform.get('address')?.errors?.['maxlength']">Address must be less than 700 characters </p>
                    <p class="m-0 p-1" *ngIf="editclientform.get('address')?.errors?.['minlength']">Address must be more than 10 characters </p>
                </div>
            </div>
            <button [disabled]="editclientform.invalid" class="bg-main btn text-white ms-auto mt-3 d-block">
                <span *ngIf="!isloading">Edit</span>
                <i *ngIf="isloading" class="fas fa-spinner fa-spin ms-2"></i>
            </button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>