<div *ngIf="isloding"
    class="loadingscreen position-fixed z-3 top-0 bottom-0 start-0 end-0 bg-white d-flex justify-content-center align-items-center">
    <span class="loader"></span>
</div>
<div *ngIf="buildingdetails">
    <br />
    <h2 class="text-center my-4">المبني  : {{ buildingdetails.name }}</h2>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p><strong>الموقع :</strong> {{ buildingdetails.location }}</p>
            </div>
            <div class="col-md-4">
                <p><strong> عدد الشقق :</strong> {{ buildingdetails.flatCount }}</p>
            </div>
        </div>
<br />
        <div class="row">
            <div class="col-md-4">
                <p><strong>المساحه:</strong> {{ buildingdetails.size }}</p>
            </div>
            <div class="col-md-4">
                <p><strong> سعر الأرض :</strong> {{ buildingdetails.landPrice }}</p>
            </div>
            <div class="col-md-4">
                <p><strong> تكاليف البناء :</strong> {{ buildingdetails.constractionFees }}</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9">
                <p><strong> الوصف:</strong> {{ buildingdetails.description }}</p>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fa-solid fa-eye"></i> عرض عقد الملكيه للمبني
                </button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h4>الشقق :</h4>
                <br />
                <button class="btn btn-info" [routerLink]="['/addflat',buildingdetails.id]"><i class="fa-solid fa-plus"></i>  إضافه شقه</button>
                <br />
                <br />
                <div *ngIf="flats.length === 0" class="alert alert-info"> لا يوجد شقق متاحه</div>
                <table *ngIf="flats.length > 0" class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th> اسم العميل </th>
                        <th>رقم الشقه</th>
                        <th>الطابق </th>
                        <th>المساحه</th>
                        <th> السعر المبدئي</th>
                        <th> سعر البيع</th>
                        <th> عقد الملكيه</th>
                        <th>التفاصيل</th>
                        <th>تعديل</th>
                        <th>البيع</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flat of flats; let i = index">
                        <td>{{ flat.clientName }}</td>
                        <td>{{ flat.flatNumber }}</td>
                        <td>{{ flat.floor }}</td>
                        <td>{{ flat.size }}</td>
                        <td>{{ flat.standerdPrice }}</td>
                        <td>{{ flat.sellingPrice }}</td>
                        <td><button type="button" (click)="openImage(i)" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdropflat">
                               <i class="fa-solid fa-eye"></i> عرض العقد </button></td>
                        <td><button class="btn btn-info" [routerLink]="['/flatdetails',flat.id]"><i class="fa-solid fa-circle-info"></i> تفاصيل</button></td>
                        <td><button class="btn btn-warning " [routerLink]="['/editflat',buildingid,flat.id]"><i class="fa-regular fa-pen-to-square"></i> تعديل</button></td>
                        <td *ngIf="flat.clientName==='لا يوجد عميل'"><button class="btn btn-secondary" [routerLink]="['/sellflat',flat.id]"><i class="fa-solid fa-sack-dollar"></i>  بيع </button></td>
                        <td *ngIf="flat.clientName!=='لا يوجد عميل'">تم البيع</td>
                    </tr>
                </tbody>
            </table>
            </div>
    </div>
</div>
<div *ngIf="apierror" class="alert alert-danger">{{ apierror }}</div>
 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"> عرض العقد </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let Contract of buildingContractImages">
                        <img [src]="Contract" class="img-fluid mb-3" alt="Contract Image">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">غلق </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="modal fade" id="staticBackdropflat" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"> عرض العقد</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let Contract of contractImages">
                        <img [src]="Contract" class="img-fluid mb-3" alt="Contract Image">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">غلق </button>
                    </div>
                </div>
            </div>
        </div>
    </div>