<div class="row my-4 ">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 class="text-center"> تعديل شقه</h1>
        <div *ngIf="apierror" class="alert alert-danger p-0 mt-1">
            <p class="m-0 p-1">{{apierror}}</p>
        </div>
        <form [formGroup]="editflatform" (ngSubmit)="Addflat(editflatform)">
            <div class="my-2">
                <label for="name">رقم الشقه</label>
                <input formControlName="flatNumber" type="number" id="flatNumber" name="flatNumber" class="form-control" min="0">
                <div *ngIf="editflatform.get('flatNumber')?.touched && editflatform.get('flatNumber')?.errors"
                    class="alert alert-danger p-0 mt-1">
                    <p class="m-0 p-1" *ngIf="editflatform.get('flatNumber')?.errors?.['min']">Flat Number must be more than 0 </p>
                </div>
            </div>
            <div class="my-2">
                <label for="floor">الطابق</label>
                <input formControlName="floor" type="number" id="floor" name="floor" class="form-control" min="0">
                <div *ngIf="editflatform.get('floor')?.touched && editflatform.get('floor')?.errors"
                    class="alert alert-danger p-0 mt-1">
                    <p class="m-0 p-1" *ngIf="editflatform.get('floor')?.errors?.['min']">Floor must be more than 0 </p>
                </div>
            </div>
            <div class="my-2">
                <label for="size">المساحه</label>
                <input formControlName="size" type="number" id="size" name="size" class="form-control" min="1">
                <div *ngIf="editflatform.get('size')?.touched && editflatform.get('size')?.errors"
                    class="alert alert-danger p-0 mt-1">
                    <p class="m-0 p-1" *ngIf="editflatform.get('size')?.errors?.['min']">Size must be more than 1 Meters </p>
                </div>
            </div>
            <div class="my-2">
                <label for="standerdPrice"> السعر المبدئي</label>
                <input formControlName="standerdPrice" type="number" id="standerdPrice" name="standerdPrice" class="form-control" min="1">
                <div *ngIf="editflatform.get('standerdPrice')?.touched && editflatform.get('standerdPrice')?.errors"
                    class="alert alert-danger p-0 mt-1">
                    <p class="m-0 p-1" *ngIf="editflatform.get('standerdPrice')?.errors?.['min']">Standerd Price must be more than 1 </p>
                </div>
            </div>
            <button [disabled]="editflatform.invalid" class="bg-main btn text-white ms-auto mt-3 d-block">
                <span *ngIf="!isloading">إضافه </span>
                <i *ngIf="isloading" class="fas fa-spinner fa-spin ms-2"></i>
            </button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>